<h3>Welcome to PetHugs!</h3>

<p><%= link_to 'Profile', curr_user_path() %> </p>

<p><%= link_to 'Search for Pets', search_pets_path() %> </p>

<% if user_signed_in? %>
  <%= button_to('Logout', destroy_user_session_path, :method => :delete) %>        
<% else %>
  <%= button_to('Login', new_user_session_path)  %>  
<% end %>
